<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {{& assets.css.all }}
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <article>{{& page.html }}</article>
        <ul>
            <li>
                <a href="https://github.com/christophercliff/caisson">Source</a>
            </li>
            <li>
                <a href="https://github.com/christophercliff/caisson/issues">Issues</a>
            </li>
        </ul>
        <footer>A project by <a href="https://twitter.com/ctcliff">@ctcliff</a></footer>
    </body>
</html>